<div class="container">
	<div class="row">
	  <div class="offset-md-1 col-md-10 offset-md-1">
      <div class="form-group row form-inline ">
      <h2>商品一覧</h2>
      <li>
         <%= link_to new_admin_item_path, class:"btn btn-file-puls" do %>puls
         <% end %>
       </li>
      </div>

        <table class="table">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <th>
                  <%= item.id %>
                </th>
                <th>
                  <%= link_to admin_item_path(item) do %>
                  <span>
                   <%= item.name %>
                  </span>
                  <% end %>
                </th>
                <th>
                  <span>
                   <%= item.price %>
                  </span>
                </th>
                <th>
                  <span>

                    <%= item.genre.name %>
                  </span>
                </th>
                <th>
                  <span>
                    <% if item.is_active %>
                      販売中
                    <% else %>
                      販売停止中
                    <% end %>
                  </span>
                </th>
              </tr>
            <% end %>


          </tbody>

        </table>


    </div>
  </div>
</div>
<cemter>
<%= paginate @items %>
</cemter>