<div class="container">
    <h2>商品詳細画面</h2>
	<div class="row">
	  <div class="offset-md-1 col-md-4">

      <%= link_to new_admin_item_path(@item.id), class: "col-md-4" do %>
      <%= image_tag @item.get_profile_image(250,250) %>
      <% end %>
    </div>
    <div class="col-md-5">

      <%= form_with model: [:admin, @item] do |f| %>

      <div class="form-group row form-inline ">
      <%= f.label :name, "商品名", class: "col-md-4" %>
      <span>
        <%= @item.name %>
      </span>

      </div>
      <div class="form-group row form-inline ">
        <%= f.label :introduction, "商品説明", class: "col-md-4" %>
        <span>
        <%= @item.introduction %>
        </span>
      </div>

      <div class="form-group row form-inline ">
        <%= f.label :genre_id, "ジャンル", class: "col-md-4" %>
        <span>
        <%= @item.genre.name %>
        </span>
      </div>

      <div class="form-group row form-inline ">
        <%= f.label :price, "税抜価格", class: "col-md-4" %>
        <span>
        <%= @item.price %>円
        </span>
      </div>

      <div class="form-group row form-inline ">
        <%= f.label :is_active, "販売ステータス", class: "col-md-4" %>
        <span>
        <% if @item.is_active %>
          販売中
        <% else %>
          販売停止中
        <% end %>
        </span>
      </div>

      <%= link_to '編集する', edit_admin_item_path(@item), class:"btn btn-sm btn-success" %>

      <% end %>
    </div>
  </div>
</div>
