<div class="container">
<h2>配送先登録/一覧画面</h2>
	<div class="row">
	  <div class="offset-md-1 col-md-10 offset-md-1">
	    <%= form_with model: [:public, @address] do |f| %>
	    <div class="form-group row form-inline ">
      <%= f.label :postal_code, "郵便番号(ハイフンなし）", class: "col-md-4" %>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "col-md-3" %>
      </div>

	    <div class="form-group row form-inline ">
      <%= f.label :address, "住所", class: "col-md-4" %>
      <%= f.text_field :address, autofocus: true, autocomplete: "postal_code", class: "col-md-3" %>
      </div>

      <div class="form-group row form-inline ">
      <%= f.label :name, "宛名", class: "col-md-4" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "postal_code", class: "col-md-3" %>
      <%= f.submit '新規登録', class:"btn btn-success" %>
      </div>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10 offset-md-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>

        <% @addresses.each do |address| %>
        <tbody>
	    <%#= form_with model: [:public, @address] do |f| %>
        <tr>
          <th>
            <span><%= address.postal_code %></span>
          </th>
          <th>
            <span><%= address.address %></span>
          </th>
          <th>
            <span><%= address.name %></span>
          </th>
          <th>
            <span>
              <%= link_to '編集する', edit_public_address_path(address), class:"btn btn-sm btn-success" %>
              <%= link_to '削除する', public_address_path(address), class:"btn btn-sm btn-danger", method: :delete,"data-confirm" => "本当に削除しますか？" %>
            </span>
          </th>
        </tr>
        </tbody>
      <% end %>
      </table>

    </div>
  </div>
</div>