<div class="container">
<h2>注文履歴一覧</h2>
  <div class="row">
    <div class="offset-md-1 col-md-10 offset-md-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>注文日</th>
            <th>発送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
	    <%#= form_with model: [:public, @order] do |f| %>
        <tr>
          <th>
            <span><%= order.updated_at %></span>
          </th>

          <th>
            <span><%= order.postal_code %></span>
            <span><%= order.address %></span>
            <span><%= order.name %></span>
          </th>

          <th>
　　　　 <% order.order_details.each do |order_detail| %>
            <span><%= order_detail.item.name %></span>
　　　　 <% end %>
          </th>
          <th>
            <span><%= order.total_payment %>円</span>
          </th>

          <th>
            <span><%= order.status_i18n %></span>
            <%#= f.hidden_field :status, :value => order.status %>
          </th>

          <th>
            <span><%= link_to '表示する', public_order_path(order), class:"btn btn-sm btn-success" %></span>
          </th>
        </tr>
      <% end %>
        </tbody>
      </table>


    </div>
  </div>
</div>