<div class="container">
	<div class="row">
	  <div class="offset-md-1 col-md-10">
	    <div class="pull-left">
        <h2>ログイン</h2>
        <h4>会員の方はこちらからログイン</h4>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :メールアドレス, class: "col-md-4" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-6" %>
          </div>

          <div class="field">
            <%= f.label :パスワード, class: "col-md-4"%>
            <%= f.password_field :password, autocomplete: "current-password", class: "col-md-6" %>
          </div>

          <center>
            <%= f.submit "ログイン" %>
          </center>
        <% end %>
        <h4>会員登録がお済みでない方</h4>
        <%= render "public/shared/links" %>をクリックしてください
      </div>
    </div>
  </div>
</div>


