<div class="container">
	<div class="row">
	  <div class="col-md-3" >
	    <%= render 'public/items/info', genres: @genres %>
	  </div>
	    <div class="col-md-7">
	    <h2>商品一覧</h2>
	    <div class="d-flex flex-wrap">
	       <% @items.each do |item| %>
            　<div style="width:20%">
                <%= link_to public_item_path(item) do %>
                <%= image_tag item.get_profile_image(100,100) %>
                <% end %>
                <p><%= item.name %></p>
                <p>¥<%= item.price %></p>
            　</div>
            <% end %>
　　　　</div>
    </div>
	</div>
</div>
<%= paginate @items %>